page-video-play {

  .video-player{
    width: 100%;
    height: 50vw;
    position: relative;
    top: 0;
    left: 0;
    video{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    >.control-layer{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon{

        width: 3rem;
        height: 3rem;
        font-size: 3rem;
      }
    }

    >.control-suspend{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon{

        width: 3rem;
        height: 3rem;
        font-size: 3rem;
      }

      .video-toolbar{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 5px;
        height: 40px;
        display: flex;
        .range-md{
          padding: 0;
        }

        ion-range{
          width: 80%;
        }

        button{
          width: 20%;
          background: transparent;
          color: #fff;
        }
      }
    }
  }
}
